*.pyc
*.swp
*.pickle
.DS_Store
code/.ipynb_checkpoints/
code/checkpoint.pth.tar
code/model_best.pth.tar
code/progress/
ground_truth/0001_bbox.h5
ground_truth/0001_idx.h5
ground_truth/0001_lidar.h5
ground_truth/0035_bbox.h5
ground_truth/0035_idx.h5
ground_truth/0035_lidar.h5
ground_truth/0002_bbox.h5
ground_truth/0002_idx.h5
ground_truth/0002_lidar.h5
ground_truth/0005_bbox.h5
ground_truth/0005_idx.h5
ground_truth/0005_lidar.h5
ground_truth/0011_bbox.h5
ground_truth/0011_idx.h5
ground_truth/0011_lidar.h5
ground_truth/0013_bbox.h5
ground_truth/0013_idx.h5
ground_truth/0013_lidar.h5
ground_truth/0014_bbox.h5
ground_truth/0014_idx.h5
ground_truth/0014_lidar.h5
ground_truth/0015_bbox.h5
ground_truth/0015_idx.h5
ground_truth/0015_lidar.h5
ground_truth/0017_bbox.h5
ground_truth/0017_idx.h5
ground_truth/0017_lidar.h5
ground_truth/0018_bbox.h5
ground_truth/0018_idx.h5
ground_truth/0018_lidar.h5
ground_truth/0019_bbox.h5
ground_truth/0019_idx.h5
ground_truth/0019_lidar.h5
ground_truth/0020_bbox.h5
ground_truth/0020_idx.h5
ground_truth/0020_lidar.h5
ground_truth/0022_bbox.h5
ground_truth/0022_idx.h5
ground_truth/0022_lidar.h5
ground_truth/0023_bbox.h5
ground_truth/0023_idx.h5
ground_truth/0023_lidar.h5
ground_truth/0027_bbox.h5
ground_truth/0027_idx.h5
ground_truth/0027_lidar.h5
ground_truth/0028_bbox.h5
ground_truth/0028_idx.h5
ground_truth/0028_lidar.h5
ground_truth/0029_bbox.h5
ground_truth/0029_idx.h5
ground_truth/0029_lidar.h5
ground_truth/0032_bbox.h5
ground_truth/0032_idx.h5
ground_truth/0032_lidar.h5
ground_truth/0036_bbox.h5
ground_truth/0036_idx.h5
ground_truth/0036_lidar.h5
ground_truth/0039_bbox.h5
ground_truth/0039_idx.h5
ground_truth/0039_lidar.h5
ground_truth/0046_bbox.h5
ground_truth/0046_idx.h5
ground_truth/0046_lidar.h5
ground_truth/0048_bbox.h5
ground_truth/0048_idx.h5
ground_truth/0048_lidar.h5
ground_truth/0051_bbox.h5
ground_truth/0051_idx.h5
ground_truth/0051_lidar.h5
ground_truth/0052_bbox.h5
ground_truth/0052_idx.h5
ground_truth/0052_lidar.h5
ground_truth/0056_bbox.h5
ground_truth/0056_idx.h5
ground_truth/0056_lidar.h5
ground_truth/0057_bbox.h5
ground_truth/0057_idx.h5
ground_truth/0057_lidar.h5
ground_truth/0059_bbox.h5
ground_truth/0059_idx.h5
ground_truth/0059_lidar.h5
ground_truth/0060_bbox.h5
ground_truth/0060_idx.h5
ground_truth/0060_lidar.h5
ground_truth/0061_bbox.h5
ground_truth/0061_idx.h5
ground_truth/0061_lidar.h5
ground_truth/0064_bbox.h5
ground_truth/0064_idx.h5
ground_truth/0064_lidar.h5
ground_truth/0070_bbox.h5
ground_truth/0070_idx.h5
ground_truth/0070_lidar.h5
ground_truth/0079_bbox.h5
ground_truth/0079_idx.h5
ground_truth/0079_lidar.h5
ground_truth/0084_bbox.h5
ground_truth/0084_idx.h5
ground_truth/0084_lidar.h5
ground_truth/0086_bbox.h5
ground_truth/0086_idx.h5
ground_truth/0086_lidar.h5
ground_truth/0087_bbox.h5
ground_truth/0087_idx.h5
ground_truth/0087_lidar.h5
ground_truth/0091_bbox.h5
ground_truth/0091_idx.h5
ground_truth/0091_lidar.h5
ground_truth/0093_bbox.h5
ground_truth/0093_idx.h5
ground_truth/0093_lidar.h5
ground_truth/2011_09_26/
ground_truth/2011_09_26_drive_0001_sync.zip
ground_truth/tracklet_labels.xml

